*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --ff--pramary: 'source sans pro',sans-serif;
    --ff--secondary: 'source code pro',monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#c38D9E;

    --fs-h1: 3rem;
    --fs-h2: 2.25em;
    --fs-h3:1.25em;
    --fs-body:1em;

}
@media(min-width:800px) {
    :root {
        --fs-h1: 4.5;
        --fs-h2: 3.75em;
        --fs-h3:1.5em;
        --fs-body:1.125em;
        --bs: 0.25em 0.25em 0.75em rgba(0 ,0 ,0 .25),
        0.125em,0,125em,0,25em rgba(0,0,0,15);
    }
}


body {
    background-color:var (var(--clr-light));
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff--pramary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
img {
    display: block;
    max-width: 100%;
}
.section {
    padding: 5em 2em;
}
 .strong{
    font-weight: var(--fw-reg);
}
  /* botton work */
  .btn {
     display:inline-block;
     padding: .5em 1.5em;
     background-color: #c38D9E;
     color: var(--clr-dark);
     text-decoration: none;
     font-size: .8em;
     text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
  }

h1,
h2,
h3 {
    line-height: 1;
    margin:0;
}
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section__title{
    margin-bottom: .25em;
}
.section__title__intro {
    font-weight: var(--fw-reg);
}
.section__title__intro strong {
    display:block;
}
.section__subtitle{
    margin:0;
    font-size:medium;
}
.section__subtitle--intro,
.section__subtitle--about{
    background:#c38D9E;
    padding: .25em;
    font-family: var(--ff--secondary);
    margin-bottom: 1em ;
    color: black;

}
/* header */
.header {
   display:flex;
   justify-content: space-between;
   padding: 1 em;


}
/******nav****/
.nav {
   position: fixed;
   background-color: #c38D9E;
   color: var(--clr-light);
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 100;
   transform: translateX(100%);
   transition: transform 25em cubic-bezier(.5,0,.5,1);



}
.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;


}
.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
}
.nav__link:hover {
    color: gray;
}
.nev-toggle {
    padding:.25em ;
    background: transparent;
    border: 0;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;

}
/* .nav-open {
    background-color: red;
} */

.hambarger {
    display: block;
    position: relative;



}
.hambarger,
.hambarger::before,
.hambarger::after{
    background-color: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition:transform 25ms ease-in-out ;
}
.hambarger::before{top:6px;}
.hambarger::after{bottom:6px;}

.hambarger::before,
.hambarger::after {
    content: "";
    position:absolute;
    left: 0;
    right: 0;

}
/*****intro section******/
.intro {
    position: relative;
}
.intro__img {

    box-shadow: var(--bs);
}
.section__subtitle--intro {
    display: inline;
    
}
.strong {
    display: block;
}

@media (min-width:600px) {
  .intro {
      display:grid;
      width:min-content;
      margin: 0 auto;
      grid-column-gap:1em;
      grid-template-areas:
      "img title"
      "img subtitle";
      grid-template-columns: min-content max-content ;
    
  } 
   .intro__img {
       grid-area: img;
       min-width: 250px;
       position: relative;
       z-index: 2;
   }
   .section__subtitle--intro {

    
    grid-column: 2/-2;
    text-align: start;
    grid-row:2;
    position: relative;
    left:-1em ;
    width: 100%;
    padding-left:1em ;
    padding-right: 200px;
    /* grid-template-columns: 1fr 200px; */
   }
}
/******my service*****/

.my-services {
    background-color: var(--clr-dark);
    background-image:url(img/background.jpg);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
    margin: 40px;
}

.section__title--services {
    color: #c38D9E;
    position: relative;

}
.services__title--services::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background:var(--clr-light) ;
    opacity:0.25;
}
.service{
    max-width:  500px;
    margin: 0 aut0;
    /* display: flex; */



}
@media(min-width:800px){
    .services{
       display: flex; 
        max-width: 1000px;
        /* justify-content: center; */
        margin-right:auto ;
        margin-left:auto ;
    }
    .service +.service {
        margin-left: 2em;
    }
   
}
/* *****about-me */
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}
.about-me__img{
    box-shadow: var(--bs);
    margin-top: 20px;
}
@media(min-width:600px){
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
        "title img"
        "subtitle img"
        "text img" ;
        grid-column-gap:2em ;
    }
    .section__title__about{
        grid-area:title;
    }
    .section__subtitle--about{
        grid-column: 1/-1;
        grid-row:2;
        position: relative;
        left:-1em ;
        width: 100%;
        padding-left:1em ;
        padding-right: 200px;


    }
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}
/* my work */
.my-work {
   background-color:var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
    overflow: hidden;

}
.portfolio__items {
    background-color: #c38D9E;
}
.portfolio__img {
   transition:  750ms cubric-bezier(.5,0,.5,1),
   opacity 250ms linear; 
}
.portfolio__focus{
    position:relative;
    z-index: 2;
}
.portfolio__img:hover, 
.portfolio__items:focus .portfolio__img{
   transform: scale (1.2); 
   opacity: .5;
}
/* *****footer */
.footer {
    /* display: flex;
    flex-direction: row; */
    background: gray;
    color:#c38D9E ;
    text-align: center;
}
.facebook {
    display: flex;
    justify-content: center;
}